<div class="container">
    <div>
    <h2>Modifier un Livre :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Livre</label>
    <input  type="text" [(ngModel)]="currentLivre.idLivre"
    name="idLivre" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Livre</label>
    <input type="text"[(ngModel)]= "currentLivre.nomLivre"
    name="nomLivre" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix Livre</label>
    <input type="number" [(ngModel)]= "currentLivre.prixLivre"
    name="prixLivre" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [ngModel]="currentLivre.dateCreation | date: 'yyyy-MM-dd'"
        (ngModelChange)=" currentLivre.dateCreation= $event" name="dateCreation"
         class="form-control">
    </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <select class="form-control form-control-lg" id="idGen" name="idGen"
            [(ngModel)]="updatedGenId">
            <option *ngFor="let gen of genres" [value]="gen.idGen" >
            {{gen.nomGen}}
            </option>
            </select>
            </div>
           
        <div class="mt-2">
        <button type="button" (click)="updateLivre()" class="btn btn-success">Modifer</button>
        </div>
        </form>
        </div>